/*新版simplemodal样式*/
 #simplemodal-overlay 
 {
 		background-color:#000; 
 		cursor:default;
 }
#simplemodal-container
{
  background: transparent url( 'http://class.hujiang.com/images/pop/transBG.png' ) no-repeat;
  padding: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  _padding: 0;
  _border: 4px solid #ccc;
}

#popOverlay {background-color:#000; cursor:default;}

/* Container */
#popContainer {
  background:transparent  url('/images/pop/transBG.png') no-repeat;
  padding:5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	_padding:0;
	_border:4px solid #ccc;
}
.popMain{
	padding:1em;
	background-color:white;
	border:3px solid #999999;
	display:none;
	position:relative; 
	overflow-y:auto;
}
.popTopClose{
	position:absolute; 
	right:10px;
	top:5px;
}
.popTopClose:link,.popTopClose:visited,.popTopClose:active{
	color:#339A18;
}
.popTopClose:hover{
	color:#F26122;
}
.popMain table{
	margin:0;
}
.popMain H2{
	background:transparent url('/images/bg_cbh2.gif') no-repeat left 8px;
	color:#339A18;
	display:inline;
	padding:8px 0 8px 10px;
	font-weight:normal;
	clear:both;
}

/***frame***/
#app_cnt2{
	height:auto!important;
	min-height:700px;
	height:700px;
	background-color:#fff;
	}

/*---btn style---*/
.btnBlank {
	-moz-background-clip:border;
	-moz-background-origin:padding;
	-moz-background-size:auto auto;
	background-attachment:scroll;
	background-color:transparent;
	background-image:url("htpp://class.yeshj.com/images/bg_button.gif");
	background-position:0 -72px;
	background-repeat:no-repeat;
	}

.btn4em {
	width:75px;
	}

.btn6em, .btn4em, .btn2em {
	display:inline-block;
	font-size:12px;
	height:24px;
	line-height:26px;
	max-height:24px;
	text-align:center;
	text-decoration:none;
	}

a.btnBig:link,a.btnBig:visited,a.btnBig:active,a.btn4em:link, a.btn4em:visited, a.btn4em:active, a.btn2em:link, a.btn2em:visited, a.btn2em:active {
	color:#5D5D5D;
	text-decoration:none;
	}
a.btnBig:hover,a.btn4em:hover, a.btn2em:hover {
	color:#5D5D5D;
	text-decoration:none;
	}

.btn6em, .btn4em, .btn2em {
	display:inline-block;
	font-size:12px;
	height:24px;
	line-height:24px;
	max-height:24px;
	text-align:center;
	text-decoration:none;
	}
.btnBig{
	height:32px;
	padding-left:0px;
	}
a.btn4em:link, a.btn4em:visited, a.btn4em:active, a.btn2em:link, a.btn2em:visited, a.btn2em:active {
	color:#5D5D5D;
	text-decoration:none;
	}
a.btn4em:hover, a.btn2em:hover,a.btnBig:hover {
	color:#F26122;
	text-decoration:none;
	}
input.btn2em, input.btn4em,input.btnBig{
	border-bottom-color:-moz-use-text-color;
	border-bottom-style:none;
	border-bottom-width:0;
	border-left-color-ltr-source:physical;
	border-left-color-rtl-source:physical;
	border-left-color-value:-moz-use-text-color;
	border-left-style-ltr-source:physical;
	border-left-style-rtl-source:physical;
	border-left-style-value:none;
	border-left-width-ltr-source:physical;
	border-left-width-rtl-source:physical;
	border-left-width-value:0;
	border-right-color-ltr-source:physical;
	border-right-color-rtl-source:physical;
	border-right-color-value:-moz-use-text-color;
	border-right-style-ltr-source:physical;
	border-right-style-rtl-source:physical;
	border-right-style-value:none;
	border-right-width-ltr-source:physical;
	border-right-width-rtl-source:physical;
	border-right-width-value:0;
	border-top-color:-moz-use-text-color;
	border-top-style:none;
	border-top-width:0;
	cursor:pointer;
	border:none;
	color:#494949;
	}
.btnBig{
	width:75px;
	}

.btn6em {
	width:102px;
	}
.btn4em {
	width:75px;
	}
.btn3em {
	width:65px;
	}
.btn2em {
	width:56px;
	}
.btn4em:hover, .btn2em:hover,.btnBig:hover {
	color:#F26122;
	}

.btnBig{
	-moz-background-clip:border;
	-moz-background-origin:padding;
	-moz-background-size:auto auto;
	background-attachment:scroll;
	background-color:transparent;
	background-image:url("/images/bg_button.gif");
	background-position:0 -144px;
	background-repeat:no-repeat;
	}

.btnHelp {
	-moz-background-clip:border;
	-moz-background-origin:padding;
	-moz-background-size:auto auto;
	background-attachment:scroll;
	background-color:transparent;
	background-image:url("/images/bg_button.gif");
	background-position:0 0;
	background-repeat:no-repeat;
	padding-left:12px;
	}
.btnPlus {
	-moz-background-clip:border;
	-moz-background-origin:padding;
	-moz-background-size:auto auto;
	background-attachment:scroll;
	background-color:transparent;
	background-image:url("/images/bg_button.gif");
	background-position:0 -24px;
	background-repeat:no-repeat;
	padding-left:12px;
	}
.btnPlus_6 {
	-moz-background-clip:border;
	-moz-background-origin:padding;
	-moz-background-size:auto auto;
	background-attachment:scroll;
	background-color:transparent;
	background-image:url("/images/bg_button.gif");
	background-position:0 -120px;
	background-repeat:no-repeat;
	padding-left:12px;
	}
.btnOk {
	-moz-background-clip:border;
	-moz-background-origin:padding;
	-moz-background-size:auto auto;
	background-attachment:scroll;
	background-color:transparent;
	background-image:url("/images/bg_button.gif");
	background-position:0 -48px;
	background-repeat:no-repeat;
	padding-left:12px;
	}
.btnCancel {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:transparent;
background-image:url("/images/bg_button.gif");
background-position:0 -96px;
background-repeat:no-repeat;
padding-left:12px;
}
.btnBlank {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:transparent;
background-image:url("/images/bg_button.gif");
background-position:0 -72px;
background-repeat:no-repeat;
}
input.btn {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
-moz-border-radius-bottomleft:3px;
-moz-border-radius-bottomright:3px;
-moz-border-radius-topleft:3px;
-moz-border-radius-topright:3px;
background-attachment:scroll;
background-color:transparent;
background-image:url("/images/bg_btn.png");
background-position:0 0;
background-repeat:repeat;
border-bottom-color:#D4D4D4;
border-bottom-style:solid;
border-bottom-width:1px;
border-left-color-ltr-source:physical;
border-left-color-rtl-source:physical;
border-left-color-value:#D4D4D4;
border-left-style-ltr-source:physical;
border-left-style-rtl-source:physical;
border-left-style-value:solid;
border-left-width-ltr-source:physical;
border-left-width-rtl-source:physical;
border-left-width-value:1px;
border-right-color-ltr-source:physical;
border-right-color-rtl-source:physical;
border-right-color-value:#D4D4D4;
border-right-style-ltr-source:physical;
border-right-style-rtl-source:physical;
border-right-style-value:solid;
border-right-width-ltr-source:physical;
border-right-width-rtl-source:physical;
border-right-width-value:1px;
border-top-color:#D4D4D4;
border-top-style:solid;
border-top-width:1px;
color:#616161;
cursor:pointer;
font-size:12px;
font-weight:bold;
height:23px;
line-height:22px;
padding-bottom:0;
padding-left:5px;
padding-right:5px;
padding-top:0;
text-align:center;
border:1px solid #d4d4d4; 
}
input.btn:hover {
color:#FF6600;
}
a.apple:link,a.apple:visited,a.apple:active{
	text-decoration:none;
	background:url(/images/ico_apple_gray.gif) no-repeat;
	display:inline-block;
	width:16px;
	height:16px;
}
a.apple:hover{
	text-decoration:none;
	background:url(/images/ico_apple.gif) no-repeat;
	display:inline-block;
	width:16px;
	height:16px;
}
a.applelight:link,a.applelight:visited,a.applelight:active{
	text-decoration:none;
	background:url(/images/ico_apple.gif?v=1) no-repeat;
	display:inline-block;
	width:16px;
	height:16px;
}
a.applelight:hover{
	text-decoration:none;
	background:url(/images/ico_apple_gray.gif?v=1) no-repeat;
	display:inline-block;
	width:16px;
	height:16px;
}

a.btn_apply, a.btn_apply:link, a.btn_apply:visited, a.btn_apply:active {
	background:url("/app/images/btn_apply.gif") no-repeat scroll 0 0 transparent;
	color:#FFFFFF;
	display:inline-block;
	font-size:14px;
	font-weight:bold;
	height:30px;
	line-height:30px;
	text-align:center;
	text-decoration:none;
	width:172px;
	}
input.btn_apply, input.btn_apply:link, input.btn_apply:visited, input.btn_apply:active {
	background:url("/app/images/btn_apply.gif") no-repeat scroll 0 0 transparent;
	color:#FFFFFF;
	display:inline-block;
	font-size:14px;
	font-weight:bold;
	height:30px;
	line-height:30px;
	text-align:center;
	text-decoration:none;
	width:172px;
	border:none; 
	cursor:pointer;
	}

a.btnOra, a.btnOra:hover, a.btnOra:visited {
    background: url("/images/bg_btn_cls.gif") no-repeat scroll 0 -68px transparent;
	cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    max-height: 24px;
    text-align: center;
    text-decoration: none;
    width: 75px;
	color:#fff;

}


.arrow_more{
	width:32px;
	height:16px;
	display:inline-block;
	background:url('/app/images/pic_all.gif') no-repeat -906px -196px;
	}

.ico_hy{
    background: url("/app/images/pic_all.gif") no-repeat scroll -906px -240px transparent;
    display: inline-block;
    height: 22px;
    position: relative;
    top: 4px;
    width: 22px;
	}

/***回复区***/
.replaybox {
	margin-left:15px;
	width:500px;
	}
#ubbBtn {
	margin-top:0;
	position:relative;
	}
.ubbLine {
	text-align:right;
	width:100%;
	}
#ubbBtn select {
	position:relative;
	top:-3px;
	}
#ubbBtn img {
	cursor:pointer;
	}
.textLine textarea {
	height:140px;
	width:492px;
	}
.inputSolid {
    border-color: #7C7C7C #C3C3C3 #DDDDDD;
    border-style: solid;
    border-width: 1px;
    color: #494949;
    font-size: 14px;
    line-height: 20px;
    padding: 3px;
	}
.inputSolid_login{
    border-color: #7C7C7C #C3C3C3 #DDDDDD;
    border-style: solid;
    border-width: 1px;
    color: #666;
    font-size: 12px;
    line-height: 20px;
	height:20px;
    padding: 3px;
	}
.submitLine {
	padding-top:8px;
	width:100%;
	}

#footer a#a_top,#footer a#a_top:hover,#footer a#a_top:visited{
	text-decoration:none;
	}
.vam input{
	vertical-align:middle;
	margin-right:3px;
	}

#tbNotice table{
	width:100%;
	}

#tbNotice td{
	border-bottom:1px dotted #ccc;
	line-height:24px;
	}
/*--------------------------以上为未整理区：2010/7/27 by paradisezj------------------------------*/




/*--------------------------以下为整理区：2010/7/27 by paradisezj---------------------------------*/


/*** leftbar样式 ***/
#app_bar {
	background:url("/app/images/bg_cnt_wrapper.gif") no-repeat scroll -1100px 0;
	float:left; 
	display:inline;
	overflow:hidden;
	width:150px;
	}
.app_list {
	margin-left:1px;
	margin-right:1px;
	overflow:hidden;
	padding:10px 0 0;
	}
.app_list li {
	height:18px;
	line-height:21px;
	margin:5px 0;
	overflow:hidden;
	padding:4px 14px;
	position:relative;
	}
.app_list li img {
	float:left;
	padding-top:3px;
	}
.app_list .menu {
	display:block;
	float:left;
	width:63%;
	padding-left:20px;
	}
.app_list .current {
	background:none repeat scroll 0 0 #E9ECEF;
	}
.app_list .current a {
	background:none repeat scroll 0 0 #EFF2F5;
	color:#333333;
	cursor:default;
	font-size:14px;
	font-weight:700;
	text-decoration:none;
	}
.app_list .current .menu {
	background:none repeat scroll 0 0 #E9ECEF;
	}
.app_list li img {
	margin:0 5px 0 0;
	vertical-align:middle;
	}
.app_list em, .app_list .current em {
	font-size:12px;
	font-style:normal;
	font-weight:normal;
	position:absolute;
	right:9px;
	}
.app_list em a, .app_list .current em a {
	background:none repeat scroll 0 0 transparent;
	color:#999999;
	cursor:pointer;
	font-size:12px;
	font-weight:200;
	}
.app_list em a:hover, .app_list .current em a:hover {
	color:#404040;
	text-decoration:none;
	}
.set_app {
	clear:both;
	margin:12px auto 0;
	padding-bottom:2px;
	padding-top:10px;
	width:120px;
	}
.set_app li {
	clear:both;
	height:24px;
	line-height:24px;
	margin-left:18px;
	overflow:hidden;
	text-align:left;
	width:100%;
	}
.set_app li a {
	display:block;
	padding-left:18px;
	}
.set_app img {
	vertical-align:middle;
	}
.add_app1 a {
	background:url("/app/images/btn_feedback.gif") no-repeat scroll 0 9px transparent;
	}
.add_app1 a:hover {
	background:url("/app/images/btn_feedback_hover.gif") no-repeat scroll 0 9px transparent;
	}
.add_app2 a {
	background:url("/app/images/btn_old.gif") no-repeat scroll 0 9px transparent;
	}
.add_app2 a:hover {
	background:url("/app/images/btn_old_hover.gif") no-repeat scroll 0 9px transparent;
	}
.add_app3 a {
	background:url("/app/images/btn_app_q.gif") no-repeat scroll 0 9px transparent;
	}
.add_app3 a:hover {
	background:url("/app/images/btn_app_q_hover.gif") no-repeat scroll 0 9px transparent;
	}
.add_app4 a {
	background:url("/app/images/btn_app_invite.gif") no-repeat scroll 0 9px transparent;
	}
.add_app4 a:hover {
	background:url("/app/images/btn_app_invite_hover.gif") no-repeat scroll 0 9px transparent;
	}
#set_app {
	clear:both;
	padding:10px 0 10px 20px;
	width:120px;
	}
#set_app li {
	clear:both;
	height:24px;
	line-height:24px;
	overflow:hidden;
	text-align:left;
	width:100%;
	}
#set_app li a {
	display:block;
	padding-left:13px;
	}
.cut_line {
	background:url("/app/images/bg_nav_underline.gif") no-repeat scroll 5px bottom transparent;
	height:2px;
	}

#app_bar li a,#app_set li a{
	height:16px;
	line-height:16px; overflow:hidden;
	background:url('/app/images/pic_all.gif') no-repeat;
	text-decoration:none;
	}
#app_bar li em a{
	background:none;
	}


li#app_ing a,#app_set .app_ing,.layer_cnt .app_ing a{
	background-position:0 0px !important;
	}
li#app_music a,#app_set .app_music,.layer_cnt .app_music a{
	background-position:0 -16px !important;
	}
li#app_event a,#app_set .app_event,.layer_cnt .app_event a{
	background-position:0 -16px !important;
	}
li#app_myclass a,#app_set .app_myclass,.layer_cnt .app_myclass a{
	background-position:0 -32px !important;
	}
li#app_q a#app_set .app_q,.layer_cnt .app_q a{
	background-position:0 -48px !important;
	}
li#app_question a,#app_set .app_question,.layer_cnt .app_question a{
	background-position:0 -48px !important;
	}
li#app_super a,#app_set .app_super,.layer_cnt .app_super a{
	background-position:0 -64px !important;
	}
li#app_medal a,#app_set .app_medal,.layer_cnt .app_medal a{
	background-position:0 -80px !important;
	}
li#app_exp a,#app_set .app_exp,.layer_cnt .app_exp a{
	background-position:0 -96px !important;
	}
li#app_box a,#app_set .app_box,.layer_cnt .app_box a{
	background-position:0 -112px !important;
	}
li#app_invite a,#app_set .app_invite,.layer_cnt .app_invite a{
	background-position:0 -128px !important;
	}
li#app_v a,#app_set .app_v,.layer_cnt .app_v a{
	background-position:0 -144px !important;
	}
li#app_mobile a,#app_set .app_mobile,.layer_cnt .app_mobile a{
	background-position:0 -160px !important;
	}
li#app_day a,#app_set .app_day,.layer_cnt .app_day a{
	background-position:0 -176px !important;
	}
li#app_day_quiz a,#app_set .app_day_quiz,.layer_cnt .app_day_quiz a{
	background-position:0 -192px !important;
	}
li#app_day_talk a,#app_set .app_day_talk,.layer_cnt .app_day_talk a{
	background-position:0 -208px !important;
	}
li#app_goal a,#app_set .app_goal,.layer_cnt .app_goal a{
	background-position:0 -224px !important;
	}
li#app_dict a,#app_set .app_dict,.layer_cnt .app_dict a{
	background-position:0 -240px !important;
	}
li#app_news a,#app_set .app_news,.layer_cnt .app_news a{
	background-position:0 -256px !important;
	}
li#app_download a,#app_set .app_download,.layer_cnt .app_download a{
	background-position:0 -272px !important;
	}
li#app_shop a,#app_set .app_shop,.layer_cnt .app_shop a{
	background-position:0 -288px !important;
	}
li#app_diary a,#app_set .app_diary,.layer_cnt .app_diary a{
	background-position:0 -432px !important;
	}
li#app_doc a,#app_set .app_doc,.layer_cnt .app_doc a{
	background-position:0 -448px !important;
	}
li#app_cichang a,#app_set .app_cichang,.layer_cnt .app_cichang a{
	background-position:0 -464px !important;
	}
li#app_listen a,#app_set .app_listen,.layer_cnt .app_listen a{
	background-position:0 -479px !important;
	}	
li#app_sentence_en a,#app_set .app_sentence_en,.layer_cnt .app_sentence_en a{
	background-position:0 -496px !important;
	}
li#app_talk a,#app_set .app_talk,.layer_cnt .app_talk a{
	background-position:0 -513px !important;
	}
li#app_menu a,#app_set .app_menu,.layer_cnt .app_menu a{
	background-position:0 -532px !important;
	}		
		

#app_bar a.bgn{
	background:none;
}

#app_set li a{
	height:16px;
	line-height:16px;
	background:url('/app/images/pic_all.gif') no-repeat; overflow:hidden;
	}

	#app_set .menu {
    padding-left: 20px;
    width: 63%;
}
#app_set .bgn {
    background: none repeat scroll 0 0 transparent;
}



/***网校通用Tab基类***/
.mode_tab{margin-bottom:15px;height:23px;border-bottom:1px solid #494949;overflow:hidden;}
.mode_tab a{text-decoration:none;}
.mode_tab ul.tabs { position: absolute;  padding-left:10px; }
.mode_tab ul.tabs li { float: left; margin: 0 5px 0 0; display: inline; }
.mode_tab ul.tabs li a { color:#fff; background-color:#494949; float: left; padding: 0 0 0 14px; height: 24px;display: block;}
.mode_tab ul.tabs li a:hover { color:#fff; text-decoration:none; }
.mode_tab ul.tabs li a:visited { text-decoration:none; }
.mode_tab ul.tabs li a span { padding: 6px 14px 3px 0;line-height: 14px; display: block; }
.mode_tab ul.tabs li a span img{ vertical-align: middle; }
.mode_tab ul.tabs li.active a { cursor:default; color:#494949; float: left; padding: 0 0 0 14px;vertical-align: middle;line-height:24px;height:24px; font-weight:bold; display: block;}
.mode_tab ul.tabs li.active a:hover { color:#494949; }
.mode_tab ul.tabs li.active a span { padding: 6px 14px 3px 0; line-height: 14px; display: block; }

/***网校Tab_gray***/
.mode_tab{border-bottom:1px solid #898989;}
.mode_tab ul.tabs li a {background: url('/images/tab_profile_bg_sidebar.gif') no-repeat left top;}
.mode_tab ul.tabs li a span {background: url('/images/tab_profile_bg_sidebar.gif') no-repeat right top;}
.mode_tab ul.tabs li.active a{background: url('/images/active_tab_profile_bg_sidebar.gif') no-repeat left top;}
.mode_tab ul.tabs li.active a span {background: url('/images/active_tab_profile_bg_sidebar.gif') no-repeat right top;}
.mode_tab ul.tabs .current {background: url('/images/active_tab_profile_bg_sidebar.gif') no-repeat left top;}
.mode_tab ul.tabs .current  span {background: url('/images/active_tab_profile_bg_sidebar.gif') no-repeat right top;font-weight:bold;}

/***列表样式基类***/
.dl_piclist dl{float:left;margin:0 0 2px 0;padding:0;overflow:hidden;text-align:center;width:72px;}
.dl_piclist dt{height:55px;margin:0px;text-align:center;overflow:hidden;}
.dl_piclist dt img{border:1px solid #ccc; }
.dl_piclist dd{clear:both;height:45px;margin:0px;overflow:hidden;text-align:center;}
.dl_piclist dd span{color:#666;display:block;white-space:nowrap;}
.dl_piclist dd a{height:18px;overflow:hidden;text-decoration:underline;}


/*** tab区域 ***/
.tabArea{}
.tabArea_left{
	float:left;
	}
.tabArea .tabList{
	float:right;
	padding-left:2%;
	padding-right:1%;
	border-bottom:1px solid #888888; width:98%;
	}
.tabArea .tabList li {
	float: left;
	margin-right:4px;
	list-style: none;
	display:inline;
	line-height:1.5em;
	}
.tabArea .tabList a:link,.tabArea  .tabList a:visited,.tabArea  .tabList a:active{
	float: left;
	text-decoration: none;
	position:relative; 
	top:1px;
	padding: 4px 10px 1px 10px;
	border:1px solid #888888;
	padding: 3px 16px 0px 16px;
	-moz-border-radius-topleft:3px;
	-khtml-border-radius-topleft: 3px;
	-webkit-border-radius:3px;
	-moz-border-radius-topright:3px;
	-khtml-border-radius-topright: 3px;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	color:#FFFFFF;
	background:transparent  url('/images/bg_tabArea.gif') repeat-x;
	}
.tabArea .tabList li a.current:link,.tabArea  .tabList li a.current:visited,.tabArea  .tabList li a.current:active{
	cursor:default;
	color: #666677;
	border-bottom:1px solid white;
	background:transparent  url('/images/bg_tabArea_c.gif')  repeat-x;
	}

/*** tab ***/
.tabs_profile {
	border-bottom:1px solid #9D9DA8;
	height:23px;
	margin-bottom:15px;
	overflow:hidden;
	}
.tabs_profile a {
	text-decoration:none;
	}
.tabs_profile ul.tabs {
	padding-left:10px;
	position:absolute;
	z-index:10;
	}
.tabs_profile ul.tabs li {
	display:inline;
	float:left;
	margin:0 5px 0 0;
	}
.tabs_profile ul.tabs li a {
	background:url("/app/images/tab_profile_bg.gif") no-repeat scroll left top transparent;
	color:white;
	display:block;
	float:left;
	height:24px;
	padding:0 0 0 14px;
	text-decoration:none;
	}
.tabs_profile ul.tabs li a:hover {
	color:white;
	text-decoration:none;
	}
.tabs_profile ul.tabs li a span {
	background:url("/app/images/tab_profile_bg.gif") no-repeat scroll right top transparent;
	display:block;
	line-height:14px;
	padding:6px 14px 7px 0;
	text-decoration:none;
	}
.tabs_profile ul.tabs li a span img {
	vertical-align:middle;
	}
.tabs_profile ul.tabs li.active a {
	background:url("/app/images/active_tab_profile_bg.gif") no-repeat scroll left top transparent;
	color:#484853;
	cursor:default;
	display:block;
	float:left;
	font-weight:700;
	height:30px;
	padding:0 0 0 14px;
	text-decoration:none;
	}
.tabs_profile ul.tabs li.active a:hover {
	color:#484853;
	text-decoration:none;
	}
.tabs_profile ul.tabs li.active a span {
	background:url("/app/images/active_tab_profile_bg.gif") no-repeat scroll right top transparent;
	display:block;
	line-height:14px;
	padding:6px 14px 7px 0;
	text-decoration:none;
	}
/*tab left*/
.tabArea_left .tabList{
	float: left;
	list-style: none;
	padding-left:3%;
	padding-right:3%;
	_padding-left:15px;
	_padding-right:15px;
	border-bottom:1px solid #888888;
	display:inline;
}
.tabArea_left  .tabList li {
	float: left;
	margin-right:7px;
	list-style: none;
	display:inline;
	line-height:1.5em;
}
.tabArea_left  .tabList a:link,.tabArea_left  .tabList a:visited,.tabArea_left  .tabList a:active{
	float: left;
	text-decoration: none;
	position:relative; 
	top:1px;
	padding: 4px 10px 1px 10px;
	border:1px solid #888888;
	padding: 3px 16px 0px 16px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;	
	color:#FFFFFF;
	background:transparent  url('/images/bg_tabArea.gif') repeat-x;
}
.tabArea_left  .tabList li a.current:link,.tabArea_left  .tabList li a.current:visited,.tabArea_left  .tabList li a.current:active{
	cursor:default;
	color: #666677;
	border-bottom:1px solid white;
	background:transparent  url('/images/bg_tabArea_c.gif')  repeat-x;
}
/*tab left end*/
.tabAreaLight  .tabList a:link,.tabAreaLight  .tabList a:visited,.tabAreaLight  .tabList a:active{
	background-image:none;
	background-color:#F7F7F7;
	color:black;
}

.tab {
	display:none;
	margin-top:15px;
}
.tabArea .current{
	display:block;
}

#cont_h1 {
	color:#494949;
	font-size:16px;
	padding-left:15px;
	position:absolute;
	top:175px;
	}
#cont_h1 a{
	font-size:16px;
	}

/*** 操作列表 ***/
.optionList{
}
.optionList li{
	font-size:14px;
	font-weight:bold;
	background:transparent url('/images/bg_option_item.gif') no-repeat 0 1px;
	padding-left:15px;
	margin-bottom:8px;
	height:1.2em;
}
.optionList li a:link,.optionList li a:visited,.optionList li a:active{
	color:#67A63E;
}
.optionList li a:hover{
	color:#F26122;
}


/***侧边栏通用***/
.cblock h2{color:#339A18;font-size:14px;margin-top:0px;}
#sidebar .cblock li{margin-bottom:7px;}
.cblock{
	position:relative;
	z-index:10;
	background-color:white;
	margin-bottom:20px;
}
.hasMinHeight{
	min-height:550px;
	_height:550px;
}
.cblock .cblockMain{
	margin-left:20px;
	margin-right:20px;
	line-height:1.5em;
	padding:15px 0;
}
#sidebar .cblock .cbH2{
	margin-top:0;
}

/***网校通用图片列表样式基类***/
.dl_piclist dl{float:left;margin:0 0 2px 0;padding:0;overflow:hidden;text-align:center;width:65px;}
.dl_piclist dt{height:55px;margin:0px;text-align:center;overflow:hidden;}
.dl_piclist dt img{border:1px solid #ccc; }
.dl_piclist dd{clear:both;height:45px;margin:0px;overflow:hidden;text-align:center;}
.dl_piclist dd span{color:#666;display:block;white-space:nowrap;}
.dl_piclist dd a{height:18px;overflow:hidden;text-decoration:underline;}

/***侧边栏h2 带标***/
.cbH2{
	background:transparent url('/app/images/pic_all.gif') no-repeat  -906px -147px;
	padding-left:15px;
	color:#339A18;
	margin:8px 0;
	font-weight:bold;
	height:1.2em;
	line-height:1.2em;
}


/***圆角浏览器兼容（除ie）***/
.radius{
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	}

/*** 大头像样式 ***/
.ar_r_t { background: #FFF url(/app/images/avatar_bg.gif) no-repeat right top;}
.ar_l_t { padding: 5px 0 0; background: url(/app/images/avatar_bg.gif) no-repeat left top; }
.ar_r_b { background: url(/app/images/avatar_bg.gif) no-repeat right bottom; }
.ar_l_b { padding: 0 12px 12px 5px; background: url(/app/images/avatar_bg.gif) no-repeat left bottom; }

/* secondary  tabs */
.filters{height:20px;padding:0 10px;margin:3px 0 8px 0;}
.filters a{margin:0 5px;color:#5A5A5A;white-space:nowrap;}
.filters .on:link,.filters .on:visited,.filters .on:active,
.filters .on:hover{display:-moz-inline-stack;display:inline-block;_display:inline;padding:0 5px 0 0;background:#B5B5B5 url(/images/bg_filter.gif) 100% 0 no-repeat;color:#fff;text-decoration:none;zoom:1;}
.filters .on span{display:block;_display:inline;height:20px;padding:0 0 0 5px;background:url(/images/bg_filter.gif) no-repeat;line-height:20px;zoom:1;}


/*** 引用回复区域 ***/
.brief_quotes {
	background:transparent url(/images/quote_start.gif) no-repeat scroll 0 3px;
	color:#888888;
	line-height:1.6;
	margin:5px 0;
	overflow:hidden;
	padding-left:18px;
	width:420px;
	}
.brief_quotes q {
background:transparent url(/images/quote_end.gif) no-repeat scroll 100% 100%;
padding-right:18px;
}
.SidePic{
	float:left;
	margin:4px 10px 1px 0;
	background:url(/images/bg_pic_id.gif) top center no-repeat;
}
.SidePic img{
	margin:4px auto;
}
.Pic_id{
	width:56px;
	height:56px;
	background-image:url(/images/bg_pic_id.gif);
}
.replyArea{
	margin-left:50px;
	border:1px solid #ccc; 
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding:5px;
	margin-bottom:10px;
}
.thread{
	padding:5px 0;
	border-bottom:1px dotted #dddddd; 
	margin-top:10px;
}
.thread table{
	margin-bottom:5px;
	word-wrap:break-word;
}
.userFaceBox {
	background:url("/images/bg_userface.gif") no-repeat scroll 0 0 transparent;
	display:block;
	height:58px;
	position:relative;
	width:58px;
	}
.userFaceBox img {
	left:-1px;
	position:relative;
	top:4px;
	}

li.xb span{
background:transparent url(/images/icon_hy.gif) no-repeat scroll 0 2px;padding:5px 0 5px 22px;
}
.icoXB{
background:transparent url(/images/icon_hy.gif) no-repeat scroll 0 2px;padding:5px 0 5px 22px;
}
/*intro*/
.refer{
	padding:4px 8px 0px 12px;margin-bottom:10px;
}
.refer_bg{
	background:#F4F9FF;
	border:1px dashed #ccc;
	border-left:0;border-right:0;
	padding-top:12px;
	padding-bottom:8px;
}
.answer{
	color:#E95A16;
}
.noRe {
color:#999999;
padding:0 10px 10px;
}
.refer_info {
background:transparent url(/images/bg_refer.gif) repeat-x scroll 0 top;
height:24px;
padding:10px 10px 0;
}
.btnRecord {
	cursor:pointer;
	padding:5px;
}

/*** 班级介绍页 ***/
#path{
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:solid 1px #eeeeee;
	overflow:hidden;
	line-height:24px;
}
#path .uplevel{
	font-size:14px;
	font-weight:bold;
	color:#008000;
	text-decoration:none;
}
#path a.uplevel:hover{
	text-decoration:underline;
}
#path .title{
	display:inline;
	font-size:14px;
}
#path h2{
	color:#494949;
	font-weight:normal;
	}

/*** 列表样式 ***/
#tabCharList{
	width:100%;
	position:relative; 
	top:10px;
}
#tabCharList td{
	border:none;
	border-bottom:1px #E6E6E6 dotted;
	background:#fff;
	line-height:1.7em;
}
#tabCharList th{
	border:none;
	border-bottom:2px #E6E6E6 solid;
	background:#fff;
	text-align:center;
	font-weight:normal;
}

/*** 课程介绍页面 class_intro_new.aspx***/
#courseTabArea{
	margin-top:40px;
}

#classIntro{
	margin-top:20px;
}
#courseServer #tab_ask3{
	margin-left:15px;
	line-height:1.6em;
}
#courseTabArea #tab2_ask2,#courseTabArea #tab2_ask3{
	margin-left:15px;
	margin-top:10px;
}

.filters {
height:20px;
margin:3px 0 8px;
padding:0 10px;
}
.filters .on, .filters .on:hover {
background:url("/app/images/bg_filter.gif") no-repeat scroll 100% 0 #B5B5B5;
color:#FFFFFF;
display:inline-block;
padding:0 5px 0 0;
text-decoration:none;
}
.filters .on, .filters .on:hover {
background:url("/app/images/bg_filter.gif") no-repeat scroll 100% 0 #B5B5B5;
color:#FFFFFF;
display:inline-block;
padding:0 5px 0 0;
text-decoration:none;
}

.announce {
 border: 3px solid #EDEDED;
 font-size:14px; 
 margin-bottom: 15px;
 padding:5px;
 text-align:center;
 background-color: #FFFEF5;
-moz-border-radius: 5px;
 -khtml-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 5px;
}

/* feeds */
.sect{
	width:100%;
	overflow:hidden;
}

.sect_home{
}

.sect ul{
	margin:0;
}

.sect ul li{
	word-wrap:break-word;
	table-layout:fixed;
	overflow:hidden;
	text-overflow:ellipsis;
}

.feed{
	border-bottom:dotted 1px #D6D6D6;
	margin-bottom:0px;
}

.feed .detail a:hover img {
	border-color:#0066CC;
}

.feed .detail a img {
	border:1px solid #CCCCCC;
	padding:3px;
}

.brief{
	float:left;
	padding-bottom:6px;
	padding-left:24px;
	position:relative;
}

.feed-post{
	margin-bottom:4px;
}

.feed-bbs{
	margin-bottom:4px;
}

.feed-post .brief{
	padding-bottom:0px;
}

.feed-bbs .brief{
	padding-bottom:0px;
}

.feed-menuitem .brief{
	padding-bottom:0px;
}

.feed-link .brief{
	font-weight:200;
}

.feed-blog .brief{
	padding-bottom:0px;
}

.feed-blog .brief .briefTitle{
	padding-bottom:0px;
}

.feed-recomend .brief .briefTitle{
}

.type{
	float:left;
	width:16px;
	height:16px;
	overflow:hidden;
	text-indent:-999em;
	border:solid 0px blue;
	display:inline-block;
	position:absolute;
	left:0px;
	top:3px;
	background-color:#fff;
}


.feed-ing .type{
	background:url(/app/images/pic_all.gif) no-repeat 0 -304px;
}

.feed-q .type{
	background:url(/app/images/pic_all.gif) no-repeat 0 -48px;
}

.feed-post .type{
	background:url(/app/images/pic_all.gif) no-repeat 0 -320px;
}

.feed-class .type{
	background:url(/app/images/pic_all.gif) no-repeat 0 -336px;
}

.feed-study .type{
	background:url(/app/images/pic_all.gif) no-repeat 0 -352px;
}

.feed-bulo .type{
	background:url(/app/images/feed/ico_bulo.gif) no-repeat;
}

.feed-share .type{
	background:url(/app/images/pic_all.gif) no-repeat 0 -368px;
}

.feed-timecard .type{
	background:url(/app/images/pic_all.gif) no-repeat 0 -384px;
}

.feed-sys .type{
	background:url(/app/images/pic_all.gif) no-repeat 0 -400px;
}

.feed-medal .type{
	background:url(/app/images/pic_all.gif) no-repeat 0 -80px;
}

.feed-deskmate .type{
	background:url(/app/images/pic_all.gif) no-repeat 0 -416px;
}

.feed-event .type{
	background:url(/app/images/pic_all.gif) no-repeat 0 -16px;
}

.feed-invite .type{
	background:url(/app/images/pic_all.gif) no-repeat 0 -128px;
}

.feed-diary .type{
	background:url(/app/images/pic_all.gif) no-repeat 0 -432px;
}

.feed-doc .type{
	background:url(/app/images/pic_all.gif) no-repeat 0 -448px;
}
.feed-cichang .type{
	background:url(/app/images/pic_all.gif) no-repeat 0 -464px;
}

.briefTitle{
	_width:97%;
	}

.pic_abs{
	padding:3px;
	margin:5px 10px 10px 0px;
	border:solid 1px #E8E8E8;
}

.feed .brief{
	margin-top:8px;
	margin-bottom:10px;
}

.feed-podcast .detail, .feed-hoster .detail{
	margin-bottom:4px;
}

.feed-menu .detail{
	margin-bottom:2px;
}


.detail span{
	margin-bottom:6px;
	display:block;
}
.detail span span div{
	display:block;
	}

.share-comment{
	background:transparent url(/images/feed/quote-start.gif) no-repeat scroll 0pt 0pt;
	color:#666666;
	padding-left:18px;
	margin-top:0px;
	padding-bottom:8px;
	height:100%;
	width:400px;
}

.share-comment p{
	padding-right:20px;
	color:#666666;
}


.feed-q .share-comment{
	margin-top:10px;
	margin-bottom:10px;
}

/*** 讨论区列表图标 ***/
.ptop {
	background:url('/images/icon_top.gif') no-repeat transparent;
	color:#666666;
	height:10px;
	overflow:hidden;
	padding-right:1px;
	position:relative;
	width:10px;
	display:inline-block;
	}

.pbest {
	background:url('/images/icon_best.gif') no-repeat;
	color:#666666;
	padding-left:12px;
	padding-right:1px;
	}


/*** 讨论区内容块文字样式 ***/
.topicOverflow{
	font-size:14px;
	line-height:24px;
	margin-top:10px;
  width: 600px;
	overflow:hidden;
	}

/*** 引号样式 ***/
.quote_start {
	background:url("/app/images/pic_all.gif") no-repeat scroll -906px -224px;
	display:inline-block;
	height:10px;
	width:14px;
	}
.quote_end {
	background:url("/images/quote_end.gif") no-repeat scroll 0 0 transparent;
	display:inline-block;
	height:10px;
	width:14px;
	}

/*** 侧边栏分类样式 ***/
.course_rt_ul ul {
	margin:15px 0 0 12px;
	}
.course_rt_ul li {
	float:left;
	height:23px;
	width:120px;
	}
#set_app .app_add a{ background:url(/images/btn_app_add.gif) no-repeat 0 5px; *background:url(/images/btn_app_add.gif) no-repeat 0 5px; }
#set_app .app_add a:hover{ background:url(/images/btn_app_add_hover.gif) no-repeat 0 5px; *background:url(/images/btn_app_add_hover.gif) no-repeat 0 5px; }
#set_app .app_set a{ background:url(/images/btn_app_set.gif) no-repeat 0 5px; *background:url(/images/btn_app_set.gif) no-repeat 0 5px; }
#set_app .app_set a:hover{ background:url(/images/btn_app_set_hover.gif) no-repeat 0 5px; *background:url(/images/btn_app_set_hover.gif) no-repeat 0 5px;}
