@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
}
html {
    font-family: sans-serif;
}

body {
    background:#4fb1fc;
}
.container{
  background:#fff url('../img/bg2.jpg') repeat-x center 534px;
  height:810px;
}
.content{
  padding: 96px 0 112px;
  text-align:center;
  background:#fff url('../img/bg1.png') no-repeat center 240px;
  background-size: 1020px auto;
}
.content img{
  width: 172px;
  height: 186px;
  margin-bottom:70px;
}
.btn-download{
  display: inline-block;
  width: 260px;
  height: 66px;
  background: url('../img/btn.png') no-repeat;
  background-size:100% auto;
  cursor: pointer;
}
.btn-download:hover{
  background-position: 0 -70px;
}
.btn-download:active{
  background-position: 0 -140px
}
