.seen-imp-icon,
.seen-imp-item1 a:before,
.seen-imp-item2 a:before,
.seen-imp-map-container li:before{
  background:url("../img/icon@2x.png") no-repeat;
  background-size:100px auto;
}
.seen-imp-container{
  background:#fff;
  font-family: -apple-system,"PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
  color:#000;
}

.seen-imp-con-width{
  width:100%;
  box-sizing: border-box;
  padding: 0 3.125%;
  max-width: 1024px;
}
.seen-imp-header{
  margin:0 auto 12px;
  padding-top:18px;
}
.seen-imp-logo{
  display: inline-block;
  width:58px;
  height:58px;
  background-size:80px auto;
  background-position: 0 -59px;
}
/* .nav{
  margin-left:38px;
} */
.seen-imp-nav a{
  position: relative;
  margin-left:2.4rem;
  display: inline-block;
  height:50px;
  line-height:50px;
  font-size:1.4rem;
  color:#121317;
  font-weight: bold;
}
.seen-imp-nav p{
  padding:0 2px;
}
.seen-imp-nav .seen-imp-on p,
.seen-imp-nav a:active p{
  height:24px;
  border-bottom:6px solid #00AF8E;
}

.seen-imp-contact{
  padding-top:6px;
}
.seen-imp-contact a{
  font-weight: bold;
  float:left;
  margin-left:20px;
}
.seen-imp-contact a:nth-child(1){
  width:20px;
  height:18px;
  margin-top:9px;
  background-position: -44px -17px;
}
.seen-imp-contact a:nth-child(2){
  width:24px;
  height:16px;
  margin-top: 11px;
  background-position: -20px -17px;
}
.seen-imp-contact a:nth-child(3){
  width:19px;
  height:20px;
  margin-top: 8px;
  background-position: 0 -17px;
}
.seen-imp-contact a:nth-child(4){
  box-sizing:border-box;
  border:1px solid #333;
  color:#121317;
  width:100px;
  text-align: center;
  padding:8px 0;
  border-radius:20px;
  font-size:13px;
}
.seen-imp-contact a:nth-child(4):active,
.seen-imp-btn-more:active{
  background-color:#333;
  color:#fff;
}


.seen-imp-banner{
  max-width: 1024px;
  height:30rem;
  margin: 0 auto 6rem;
}
.seen-imp-product{
  width: 93.8%;
}
.seen-imp-product h2{
  font-size:1.6rem;
  color:#000;
  font-weight: bold;
}
.seen-imp-product h3{
  font-size:1.6rem;
  color:#000;
  font-weight: bold;
}
.seen-imp-product .text{
  width:45%;
}
.seen-imp-product h4{
  font-size:1.4rem;
  color:#121317;
  margin-bottom:12px;
  font-weight: bold;
}
.seen-imp-product h1{
  font-size:2.4rem;
  color:#121317;
  margin-bottom:10px;
  font-weight: bold;
}
.seen-imp-product h5{
  font-size:1.4rem;
  color:#121317;
  line-height:2rem;
  margin-bottom:13px;
}
.seen-imp-product .seen-imp-more{
  position: relative;
}
.seen-imp-product .seen-imp-more a{
  font-size:1.4rem;
  color:#1C0E1F;
  margin-left:48px;
  font-weight: bold;
}
.seen-imp-product .seen-imp-more:before{
  content:'';
  width:27px;
  height:0;
  border-top:2px solid #000;
  position: absolute;
  top:9px;
  left:0;
}
.seen-imp-product .seen-imp-more:after{
  content:'';
  width:5px;
  height:5px;
  border-top:2px solid #000;
  border-right:2px solid #000;
  transform: rotate(45deg);
  position: absolute;
  top:6px;
  left:22px;
}
.seen-imp-product .seen-imp-cover{
  width:49.1%;
}
.seen-imp-product .seen-imp-cover img{
  display: inline-block;
  max-width: 746px;
  max-height:420px;
}
.seen-imp-product.seen-imp-product1 h3{
  margin-bottom:30px;
}
.seen-imp-product.seen-imp-product1{
  margin:0 auto 72px;
}
.seen-imp-product.seen-imp-product2 h2{
  margin-bottom:30px;
}
.seen-imp-product.seen-imp-product2{
  margin: 0 auto 70px;
}
.seen-imp-shadow1{
  box-shadow: rgba(204,204,204,0.1) -69px -51px 0px 22px;
}
.seen-imp-shadow2{
  box-shadow: rgba(204,204,204,0.1) 48px -52px 0px 26px;
}


.seen-imp-aboutus{
  padding-top:10px;
  margin:0 auto 60px;
}
.seen-imp-aboutus img{
  margin-left:8%;
}
.seen-imp-aboutus .seen-imp-disc{
  padding-top:10px;
  width:614px;
  margin-right:8%;
}
.seen-imp-aboutus h2{
  font-size: 24px;
  color: #121317;
  margin-bottom:15px;
}
.seen-imp-aboutus p{
  font-size: 18px;
  color: #121317;
  line-height: 44px;
}
.seen-imp-map-container{
  padding:114px 0;
  background-color:#fafafa;
  color:#121317;
  font-size:14px;
  margin-bottom:146px;
}
.seen-imp-contactus{
  /* width:1068px; */
  margin:0 auto;
}
.seen-imp-contactus .seen-imp-disc{
  margin-left:8%;
  width:28.7%;
  min-width:367px;
}
.seen-imp-map{
  margin-right:8%;
  width:49%;
  min-width:560px;
  height:453px;
  background-color:#ccc;
}
.seen-imp-map-container h2{
  font-size:24px;
  padding:50px 0;
}
.seen-imp-map-container li{
  margin-bottom:40px;
}
.seen-imp-map-container li:before{
  content:"";
  display:inline-block;
  margin-right:15px;
}
.seen-imp-map-container li:nth-child(1):before{
  width: 17px;
  height: 17px;
  background-position: 0px -59px;
  vertical-align: -2px;
}
.seen-imp-map-container li:nth-child(2):before{
  width: 17px;
  height: 14px;
  background-position: -37px -59px;
  vertical-align: -2px;
}
.seen-imp-map-container li:nth-child(3):before{
  width: 16px;
  height: 20px;
  background-position: -18px -59px;
  vertical-align: -4px;
}

.seen-imp-intro{
  height:327px;
  background:url('../img/img3.png') no-repeat center;
  background-size: cover;
  color:#fff;
  margin:0 auto 70px;
}
.seen-imp-intro .seen-imp-inner{
  margin: 0 auto;
  padding-top:143px;
}
.seen-imp-intro h2{
  font-weight: bold;
  font-size:38px;
  margin-bottom:8px;
  text-shadow: 0 2px 4px rgba(0,0,0,0.20);
}
.seen-imp-intro p{
  font-size:14px;
  line-height: 24px;
  text-shadow: 0 2px 4px rgba(0,0,0,0.20);
  letter-spacing: 1.56px;
}
.seen-imp-list-box{
  margin:0 auto;
}
.seen-imp-list{
  margin:0 -2.1% 21px;
}
.seen-imp-list li{
  width:29.03%;
  max-width:328px;
  float:left;
  margin:0px 2.15% 52px;
}
.seen-imp-list a{
  display: block;
}
.seen-imp-list img{
  width:100%;
  max-height:246px;
  display: inline-block;
  background-color:#eee;
  margin-bottom:10px;
}
.seen-imp-list h3{
  font-size:1.8rem;
  color:#000;
  margin-bottom:8px;
  padding:0 10px;
}
.seen-imp-list p{
  font-size:1.4rem;
  color:#999;
  padding:0 10px;
}

.seen-imp-p-banner{
  margin:0 auto 80px;
}
.seen-imp-p-nav{
  padding-top:45px;
  margin:0 auto 40px;
}
.seen-imp-p-nav li{
  border: 2px solid #333333;
  font-size:13px;
  border-radius: 18px;
  padding:7px 36px;
  margin-right:25px;
  display:inline-block;
}
.seen-imp-p-nav li.seen-imp-on, .seen-imp-p-nav li:active{
  cursor: pointer;
  color:#fff;
  background-color:#333;
}
.seen-imp-list-wrap{
  display:none;
  margin:0 auto;
}
.seen-imp-p-list{
  margin-bottom:0;
}
.seen-imp-btn-more{
  cursor: pointer;
  border: 2px solid #333333;
  border-radius: 20px;
  border-radius: 20px;
  width:173px;
  margin: 0 auto 141px;
  box-sizing: border-box;
  text-align:center;
  font-size: 14px;
  color: #121317;
  padding:8px 0;
}

.seen-imp-pd-banner {
  margin-bottom:75px;
}
.seen-imp-article{
  margin-bottom:140px;
  font-size: 14px;
  color: #121317;
  line-height: 24px;
  text-align:center;
}
.seen-imp-article h1{
  font-size: 28px;
  color: #121317;
  text-align: center;
  margin-bottom:46px;
}
.seen-imp-article p{
  margin-bottom:40px;
}
.seen-imp-article .seen-imp-p1{
  width:845px;
  margin:0 auto 40px;
  text-align:left;
}
.seen-imp-article img{
  display: block;
  margin:0 auto 40px;
}
.seen-imp-footer{
  margin:0 auto 40px;
  font-size:14px;
}
.seen-imp-footer .seen-imp-block1{
  margin-bottom:45px;
}
.seen-imp-footer .seen-imp-item2 li:nth-child(2) a:active,
.seen-imp-footer a{
  color:rgba(0,0,0,0.9);
}
.seen-imp-footer a:active{
  color:#00AF8E;
}

.seen-imp-footer .seen-imp-title{
  font-size:14px;
  width:12%;
  text-align: left;
  position: relative;
  color:rgba(0,0,0,0.9);
  font-weight: bold;
}
.seen-imp-footer .seen-imp-title:after{
  content:'';
  position: absolute;
  left:0;
  bottom: -16px;
  width:20px;
  height:2px;
  background-color:#191919;
}
.seen-imp-footer .seen-imp-title:nth-child(1):after{
  right:60px;
}

.seen-imp-footer .seen-imp-item1,
.seen-imp-footer .seen-imp-item2{
  width:77.1%;
}

.seen-imp-footer .seen-imp-item1 li,
.seen-imp-footer .seen-imp-item2 li{
  float:left;
}
.seen-imp-footer .seen-imp-item1 li,
.seen-imp-footer .seen-imp-item2 li{
  width:33.33%;
  margin-bottom:18px;
}
.seen-imp-footer .seen-imp-item1 a:before,
.seen-imp-footer .seen-imp-item2 a:before{
  content:"";
  display:inline-block;
  margin-right:11px;
}

.seen-imp-footer .seen-imp-item1 li:nth-child(1) a:before{
  width:17px;
  height:18px;
  background-position: 0 0;
  vertical-align: -4px;
}
.seen-imp-footer .seen-imp-item1 li:nth-child(2) a:before{
  width:18px;
  height:14px;
  background-position: -17px 0;
  vertical-align: -3px;
}
.seen-imp-footer .seen-imp-item2 li:nth-child(1) a:before{
  width: 20px;
  height: 18px;
  background-position: -44px -17px;
  vertical-align: -3px;
}

.seen-imp-footer .seen-imp-item2 li:nth-child(2) a:before{
  width: 20px;
  height: 18px;
  background-position: -64px -16px;
  vertical-align: -5px;
}
.seen-imp-footer .seen-imp-item2 li:nth-child(3) a:before{
  width:19px;
  height:20px;
  background-position: 0 -17px;
  vertical-align: -4px;
}
.seen-imp-footer .seen-imp-item2 li:nth-child(4) a:before{
  width:24px;
  height:16px;
  background-position: -20px -17px;
  vertical-align: -3px;
}
.seen-imp-footer .seen-imp-item2 li:nth-child(5) a:before{
  width: 41px;
  height: 16px;
  background-position: 0px -38px;
  vertical-align: -3px;
}
.seen-imp-footer .seen-imp-item2 li:nth-child(6) a:before{
  width: 18px;
  height: 16px;
  background-position: -85px -17px;
  vertical-align: -3px;
}
.seen-imp-copyright{
  margin: 0 auto 23px;
  font-size:14px;
  color:rgba(0,0,0,0.9);
}

/* @media screen and (max-width:1300px){
  .con-width{
    width:980px;
  }
  .banner{
    min-width:980px;
  }
  .intro h2{
    font-size:68px;
  }
  .product h4{
    margin-top:10px;
  }
  .aboutus img,
  .aboutus .disc,
  .contactus .disc,
  .contactus .map{
    margin:0;
  }
} */