/* CSS Document */
@charset "utf-8";
/* 整体框架结构s */
body{background:#f03c77;font-family: "微软雅黑",arial;}
.oralclear{clear:both;border:none;height:0;width:0;}
.outoral_outcontainer{min-width:1000px;overflow-x: hidden;background:url(../img/banner.jpg) no-repeat center 0 ;}
.oral_outcontainer{width:1000px;margin:0 auto;position:relative;border:1px solid red;}
.oral_banner{height:400px;}
.modulemain_con{width:1100px;margin-left:-50px;border:1px solid blue;}/* 父层宽度小于本层，本层利用负值边距 */
.modulemain_tit{overflow: hidden;}
.modulemain_tit img{float:left;}
.modulemain_con1{}
/* 整体框架结构e */





