/*  该css文件同步自 http://class.hujiang.com/app/css/footer.css
    只是将图片路径进行修改 ，仅限网校专题中使用
    若以后专题footer样式与网校有出入，请同步该css文件和相应图片
    2013.10.18  by 阿宝
*/

#copyright a{
	text-decoration:none;
	}

#copyright{
	clear:both;
	margin:0px 0px 10px;
	padding-right:5px;
	border-top:1px solid #ccc;
	padding-top:10px;
	padding-bottom:10px;
	}
#a_top{
	width:16px;
	height:16px;
	display:inline-block;
	background:url('http://class.hujiang.com/app/images/pic_all.gif') no-repeat -907px -128px;
	position:relative;
	top:3px;
	}

/*new_footer*/

#new_footer{
	background-color: #2A2C31;
	padding: 10px 0;
	margin-top: 25px;
	width: 100%;
	min-width: 1000px;
	clear: both;
}
.footer_about,.footer_copyright{
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
.footer_about{
	margin-top:10px;
	margin-bottom: 13px;
}
.ft_contact{
	width: 300px;
	padding: 0 10px;
}
.ft_help,.ft_about,.ft_school{
	width: 150px;
	padding-left: 50px;
}
.ft_contact p{
	padding: 8px 0 5px;
	color: #A6A6A6;
	margin-bottom: 5px;
}
p.tit_kf{
	font-family: 'Microsoft Yahei',Simsun;
	font-size: 18px;
	color: #EAEAEA;
	height: 29px;
	line-height: 35px;
	background: url(http://class.hujiang.com/images/ico_ft_phone.gif) 0px 8px no-repeat;
	padding-left: 34px;
	padding-top: 0px;
	margin-top: 10px;
}

.kf_num{
	font-size: 24px;
	color: #8B8B8C;
	font-weight: bold;
}
.kf_num span{
	color: #A6A6A6;
	font-family: 'Microsoft Yahei',Simsun;
	font-size: 16px;
	font-weight: normal;
}

#new_footer dl dt{
	color: #EAEAEA;
	font-size: 14px;
	line-height: 1.8em;
	font-weight: bold;
	padding: 14px 0 15px;
}
#new_footer dl dd{
	line-height: 24px;
}
#new_footer a{
	color: #A6A6A6;
}
#new_footer dl dd a:hover,.ft_contact p a:hover,#new_footer a:hover{
	color: #f60;
}
#new_footer .footer_copyright,#new_footer .footer_copyright a{
	color: #6D6D6D;
}
#new_footer .footer_copyright a:hover{
	color: #f60;
}
.kf_info_box{
	padding-left: 85px;
	line-height: 25px;
	color: #A6A6A6;
}
#new_footer .icons_footer{
	background: url(http://class.hujiang.com/images/icons_footer.jpg) 0 2px no-repeat;
	height: 16px;
	width: 20px;
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
	margin-right: 5px;
}
#new_footer .icon_sina{
	background-position: 0 -17px;
}
#new_footer .icon_kf{
	background-position: 0 -36px;
}
.wx_txt{
	background: #4e525e;
	color: #a6a6a6;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	line-height: 17px;
}